/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* DEBUG */

/* .debug * {
    border: solid red 3px;
    padding: 10px;
} */

/* .debug .main-header {
    border: solid blueviolet 3px;
    height: 85px;
} */

/* GENERALI */

body {
    font-family: 'Lato';
}

.flex {
    display: flex;
}

.menu {
    display: flex;
}

.li-header {
    padding: 10px 12px;
}

.button {
    padding: 10px 12px;
    background-color: rgb(0, 30, 227);
    color: white;
}

.right {
    margin-left: auto;
}

.col {
    align-items: center;
}

.big-container {
    max-width: 1000px;
    margin: 0 auto;

}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

/* header */

.main-header {
    padding: 20px 10px;
    /* background-color: aquamarine; */
    align-items: center;
}

.main-header .col .menu:first-child:not(.right){
    padding-left: 15px;
}


/* HERO SECTION  */

.hero {
    background-color: #B4D0E7;
    padding: 70px 50px 0 50px;
}

.title {
    font-size: 54px;
    font-weight: 900;
}

.jumbo {
    flex-basis: 70%;
}

.description {
    flex-basis: 30%;
    padding-top: 60px;
}

.description > a {
    display: inline-block;
    margin-top: 30px;
}

.description::after {
    content: '\2193';
    font-size: 50px;
    display: block;
    padding-top: 60px;
}

/* CARDS SECTION */

