/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    max-width: 100%;
}

/* DEBUG */

/* .debug * {
    border: solid red 3px;
    padding: 10px;
} */

/* .debug .main-header {
    border: solid blueviolet 3px;
    height: 85px;
} */

/* GENERALI */

body {
    font-family: 'Lato';
}

.flex {
    display: flex;
}

.menu {
    display: flex;
}

.li-header {
    padding: 10px 12px;
}

.button {
    padding: 10px 12px;
    background-color: rgb(0, 30, 227);
    color: white;
    font-size: 14px;
    font-weight: 200;
}

.right {
    margin-left: auto;
}

.col {
    align-items: center;
}

.big-container {
    max-width: 1000px;
    margin: 0 auto;

}

.container {
    max-width: 1060px;
    margin: 0 auto;
}

/* header */

.main-header {
    padding: 10px;
    /* background-color: aquamarine; */
    align-items: center;
}

.main-header .col .menu:first-child:not(.right){
    padding-left: 15px;
}


/* HERO SECTION  */

.hero {
    background-color: #B4D0E7;
    padding: 70px 50px 0 50px;
}

.title {
    font-size: 54px;
    font-weight: 900;
}

.jumbo {
    flex-basis: 70%;
}

.description {
    flex-basis: 30%;
    padding-top: 60px;
}

.description > a {
    display: inline-block;
    margin-top: 30px;
}

.description::after {
    content: '\2193';
    font-size: 50px;
    display: block;
    padding-top: 60px;
}

/* CARDS SECTION */

.main-section {
    padding-top: 110px;
}


.title-section {
    font-size: 42px;
    line-height: 110px;
    font-weight: 700;
}

.checkbox-text {
    padding-right: 45px;
    font-size: 14px;
    font-weight: 300;
}

.plans-cards {
    flex-wrap: wrap;
    gap: 110px;
    margin-top: 45px;
}

.plans-cards .col {
    height: 500px;
    flex-basis: calc((100% - 220px) / 3);    
}

.plans-cards :last-child {
    flex-grow: 1;
}

.card {
    border: solid rgb(216, 216, 216) 1px;
    font-size: 14px;
    font-weight: 300;
}

.card i {
    line-height: 14px;
}

.card-header {
    text-align: center;
    line-height: 32px;
    border-bottom: solid rgb(216, 216, 216) 1px;
}

.card-header::after {
    content: 'Singolo';
}

.card-container {
    max-width: 230px;
    margin: 0 auto;
}

.card-titles {
    line-height: 32px;
    padding-top: 30px;
    padding-left: 5px;
    font-weight: 300;
}

.card-titles > h3 {
    font-size: 20px;
    font-weight: 700;
}

.card-titles .price {
    font-size: 14px;
    font-weight: 700;
}

.features {
    padding: 30px 0;
}

.features li {
    display: flex;
    padding-bottom: 20px;
}


.features i {
    padding-right: 5px;
}

.card-cta {
    text-align: center;
}

.card-cta .button {
    display: inline-block;
    width: 100%;
    margin-bottom: 30px;
}

.card-cta :last-child {
    display: flex;
    gap: 4px;
}

.under-line {
    flex-grow: 0;
    color: blue;
    text-decoration: underline;
}

.card > hr {
    margin: 30px auto;
    max-width: 100px;
    
}

.card-footer li {
    padding-bottom: 20px;
}

.card-footer li:first-of-type{
    padding-top: 30px;
}
.card-footer li i {
    padding-right: 5px;
}

.card-footer i {
    color: blue;
}

/* CARD SECTION ENDS */