/* reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

/* DEBUG */

.debug * {
    border: solid red 3px;
    padding: 10px;
}

.debug .main-header {
    border: solid blueviolet 3px;
    height: 85px;
}